<div class="container-fluid min-vh-100 back1 p-5">
  <div class="container">
    <div style="padding-top: 100px" class="d-flex justify-content-center">
      <div class="card bg-dark text-white mb-3 w-100" style="border-radius: .5rem;">
        <div class="row g-0">
          <div class="col-md-4 text-center text-white"
               style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1200px-User-avatar.svg.png"
                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
            <h5>{{user.username}}</h5>
            <h6>ID : {{user.id}}</h6>
            <div class="d-flex justify-content-center">
              <button (click)="clickOnLogout()" class="btn background-red-color">Logout</button>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Information</h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <p>{{user.email}}</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Phone</h6>
                  <p>{{user.phone}}</p>
                </div>
              </div>
              <h6>Projects</h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Firstname</h6>
                  <p>{{user.name.firstname}}</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Lastname</h6>
                  <p>{{user.name.lastname}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-white">
      <h3 class="text-center">Your Carts</h3>
      <div *ngFor="let cart of cartsAndProducts" class="d-flex justify-content-center mt-3">
        <div style="border-radius: 30px" class="bg-dark w-75 p-4">
          <h5 class="text-center">Card id : {{cart.id}}</h5>
          <ul class="list-group">
            <li *ngFor="let product of cart.products" class="list-group-item bg-dark border-0 text-white border-bottom">
              <div class="row">
                <div class="col-xxl-3 col-sm-12">
                  <img width="100%" height="170px" src="{{product.image}}" alt="{{product.title}}">
                </div>
                <div class="col-xxl-9 col-sm-12">
                  <h6>Title: {{product.title}}</h6>
                  <p>Price: {{product.price}}</p>
                  <p>Category: {{product.category}}</p>
                  <p>Quantity: {{product.quantity}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
