/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');
body{
  font-family: 'Geologica', sans-serif;
}
.back{
  background: url("src/assets/img/back.gif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-red-color{
  background-color: #f03636;
}
.text-red-color{
  color: #f03636;
}
.back1{
  background: url("src/assets/img/back2.png") center center;
}
